$color-text: #636060;
$color-background: #EDF2EC;
$color-dark: #000000;
$color-light: #FFFFFF;
$color-nav: #010201;
$color-highlight: #E06733;
$color-titles: #717171;
$color-primary: #499A18;
$color-border: #E3E1D5;
$color-accordion: #D9D9D9;
$color-accordion-dark: #AEA1A1;
$color-place-accordion: #D6E7D2;

$desktop-width: 1440px;
$tablet-width: 768px;