.prices-list {
	border: 1px solid $color-border;
	border-radius: 20px;
	padding: 33px 41px;
	@include media-mobile {
		padding: 28px 22px;
	}
}

.prices-list__accordion {
	width: 249px;
	background: $color-background;
	border-radius: 20px;
	margin-bottom: 32px;
	&:last-child {
		margin-bottom: 0;
	}
	&_opened {
		background-color: $color-place-accordion;
		.prices-list__title {
			padding-bottom: 0;
		}
		.prices-list__title span:nth-child(2) {
			background-color: $color-accordion-dark;
			background-image: url(../img/icons/arrow-light.svg);
			rotate: 180deg;
		}
		.prices-list__info {
			display: block;
		}
	}
	@include media-mobile {
		margin-bottom: 13.5px;
		width: 179px;
	}
}

.prices-list__title {
	@include font($height: 2rem, $weight: 700);
	color: $color-dark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 40px 14px;
	cursor: pointer;
	span:nth-child(2) {
		background-color: $color-accordion;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-image: url(../img/icons/arrow-dark.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	@include media-mobile {
		font-size: 15px;
		padding: 16px 40px 14px 30px;
	}
}

.prices-list__info {
	display: none;
	border-top: 0.5px solid $color-accordion-dark;
	margin-top: 9px;
	padding-top: 6px;
	padding-bottom: 16px;
	margin-left: 40px;
	margin-right: 40px;
}

.prices-list__description {
	@include font($size: 1rem, $height: 1rem, $weight: 300);
	color: $color-titles;
	margin-bottom: 6px;
}

.prices-list__price {
	@include font($size: 1.2rem, $height: 2rem);
	color: $color-dark;
	margin-bottom: 3px;
	span {
		font-weight: 700;
		color: $color-highlight;
		span {
			font-size: 1.6rem;
		}
	}
}

.prices-list__order {
	@include font($size: 1.4rem, $height: 2rem, $weight: 700);
	color: $color-titles;
	padding: 4px 22px;
	background-color: $color-light;
	border-radius: 10px;
	text-decoration: none;
}